<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />		
    </startup>
	<appSettings>
		<add key="login" value="step_user"/>
		<add key="password" value="qwerty"/>		
		<add key="conStr" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\байбатыровм\Documents\testDB.mdf;Integrated Security=True;Connect Timeout=30"/>
	</appSettings>
	<connectionStrings>
		<add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\байбатыровм\Documents\testDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>